/*Стили страницы Мои работы*/

.my-works {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    min-height: 840px;
}

.my-works__item {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 47px;
    text-align: center;
    vertical-align: top;
    position: relative;
}

.last-in-row {
    margin-right: 0;
}

.example-img {
    width: 183px;
    height: 129px;
    border: 2px solid #3ba8c0;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 9px;
}

.project-img {
    width: 100%;
    height: auto;
}

.example-link {
    font-family: fira_sanslight_italic;
    text-decoration: none;
    color: #53b2c7;
    font-size: 13px;
    line-height: 1;

}

.example-description {
    font-family: fira_sanslight;
    font-size: 15px;
    line-height: 1;
    width: 183px;
    margin: 10px 0 0 0;
}

.add-project {
    margin-right: 0;
}

.add-project__link {
    display: block;
    width: 183px;
    height: 129px;
    border: 1px dashed #3ba8c0;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 9px;
    font-family: fira_sanslight;
    line-height: 1;
    text-decoration: none;
    font-size: 13px;
    padding-top: 79px;
    color: #3ba8c0;
    background-image: url("../imgs/exp-edu.png");
    background-position: 340px -128px;
    background-color: #edf8fc;
}


/*Зум картинки-превью проекта*/
.zoom-wrapper {
    position: absolute;
    top: 55px;
    width: 100%;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;


}

.example-img:hover .zoom-wrapper {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.zoom-wrapper__link {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: fira_sansbook;
    font-size: 12px;
    padding: 0 4px;
}

.example-img:hover .project-img {
    -moz-opacity: 0.20;
    opacity:.20;
    filter: alpha(opacity=20);
}

.example-img:hover {
    background-color: #4191bb;
}

/*Зум картинки-превью проекта конец*/

/*Модальное окно*/
#modal-window {
    display: none;
    width: 370px;
    background-color: #eff3f7;
    border-radius: 4px;
    overflow: hidden;
}

.modal-window__wrapper {
    width: 321px;
    margin: 0 auto;
}

.modal-window__header {
    background-color:  #48cbe8;
    padding: 10px;
    border-bottom: 15px solid #67dffa;
    margin-bottom: 17px;
}

.modal_window__header__text {
    color: #fff;
    font-weight: normal;
    margin: 0;
    float: left;    
}

.close-btn {
    width: 25px;
    height: 25px;
    float: right;
    border-radius: 50%;
    background-image: url("../imgs/modal-sprite.png");
    background-position: -6px -7px;
    position: relative;
    top: 2px;
}

.close-btn:hover {
    cursor: pointer;
}

/*Форма*/
.add-project__form {
    width: 321px;
    margin: 0 auto;
    border: none;
}

.fieldset {
    margin: 0 0 17px 0;
    padding: 0;
    border: none;
}

.name-project__label, .upload-img__label, .discription__label, .url__label, .upload-img__label {
    display: block;
    font-family: fira_sanslight;
    font-size: 19px;
    color: #a1a6b3;
    position: relative;
}


.name-project-edit__name, .discription-edit__discription, .url-project-edit__url {
    width: 100%;
    height: 41px;
    box-sizing: border-box;
    color: #3ba8c0;
    border: 1px solid #3ba8c0;
    border-radius: 3px;
    font-family: fira_sanslight;
    font-size: 13px;
    padding: 0 0 0 10px;
    background-color: #fbfcfd;
}

.fileform {
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    height: 41px;
    box-sizing: border-box;
    color: #3ba8c0;
    border: 1px solid #3ba8c0;
    border-radius: 3px;
    background-color: #fff;

}

.select-btn {
    height: 41px;
    width: 60px;
    background-image: url("../imgs/modal-sprite.png");
    background-position: 11px -140px;
    float: right;
    background-color:  #48cbe8;
}

.upload-img-edit__upload-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 150px;
    z-index: 20;
}

.upload-img__placeholder {
    font-size: 13px;
    line-height: 41px;
    padding: 0 0 0 10px;
}

.discription-edit__discription {
    resize: none;
    padding: 14px 0 0 10px;
    height: 150px;
}

input::-moz-placeholder {
    color: #3ba8c0;
}

input:-ms-input-placeholder {
    color: #3ba8c0;
}

input::-webkit-input-placeholder {
    color: #3ba8c0;
}


textarea::-moz-placeholder {
    color: #3ba8c0;
}

textarea:-ms-input-placeholder {
    color: #3ba8c0;
}

textarea::-webkit-input-placeholder {
    color: #3ba8c0;
}

button,
button:active,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}

.button--submit {
    width: 138px;
    height: 30px;
    color: #fff;
    font-family: fira_sansbook;
    font-size: 19px;
    border-radius: 4px;
    border: none;
    background-color: #48cbe8;
    box-shadow: 0 2px 5px #3ba8c0;
    display: block;
    margin: 0 auto;
    margin-bottom: 17px;
}


.button--submit:hover {
    background-color: #24bbdc;
}

.button--reset:active,
.button--submit:active {
    box-shadow: none;
}


/*Форма конец*/

/*Модальное окно конец*/

/*Стили страницы Мои работы конец*/